In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('datasets/student3.csv')

In [3]:
df

    roll     name class  marks    age
0      1     anil    TE   56.77  22.0
1      2     amit    TE   59.77  21.0
2      3   aniket    BE   76.88  19.0
3      4  ajinkya    TE   69.66  20.0
4      5     asha    TE   63.28   NaN
5      6   ayesha    BE     NaN  20.0
6      7     amar    BE   65.34  19.0
7      8    Amita    be   68.33  23.0
8      9     amol    TE   56.75  20.0
9      9     amol    TE   56.75  20.0
10    10    anmol    BE   78.66   NaN
11    11   surbhi    TE     NaN  23.0
12    12    Sujay    TE   74.12  22.0
13    13  subhash    be   88.45  21.0
14    14   sachin   NaN   59.33  21.0
15    15  shalini    TE   63.45  20.0

In [4]:
# Average of age

In [5]:
age_mean = df['age'].mean()

In [6]:
age_mean

20.785714285714285

In [8]:
marks_mean = df['marks'].mean()

KeyError: 'marks'

In [9]:
df.columns

Index(['roll', 'name', 'class', 'marks ', 'age'], dtype='object')

In [10]:
# method to remvoe extra space in dataframe

In [11]:
df.columns.str.strip()

Index(['roll', 'name', 'class', 'marks', 'age'], dtype='object')

In [13]:
df.columns = df.columns.str.strip()

In [14]:
df.columns

Index(['roll', 'name', 'class', 'marks', 'age'], dtype='object')

In [15]:
marks_mean = df['marks'].mean()
marks_mean

66.96714285714286